@model IEnumerable<Courses.Models.CourseModel>
@{
    ViewBag.Title = "Client Dashboard";
}

<!-- Page Content-->

    <div class="row text-center">
        <!-- Page Features-->
        @foreach (var courseItem in Model)
        {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card  h-100">
                        <img class="card-img-top" src="~/Uploads/Courses/@courseItem.Image_ID" alt="" />
                        <div class="card-body">
                            <h4 class="card-title">@courseItem.Name</h4>
                            <p class="card-text">@courseItem.Description</p>
                        </div>
                    <div class="card-footer">
                        <a href="@Url.Action("info", "Course", new { id = courseItem.Course_Id })" class="btn btn-primary" >Find Out More!</a>
                    </div>
                </div>
            </div>
        }
      </div>