
@{
    ViewBag.Title = "user-auth";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/css/user-style.css" rel="stylesheet" />
<head>
  
</head>
<body>
    <div id="user-auth">
        <div class="container">
            <div id="user-auth-row" class="row justify-content-center align-items-center">
                <div id="user-auth-column" class="col-md-6">
                    <div id="user-auth-box" class="col-md-12 user-auth-box-user-auth">
                        <form id="user-auth-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">user-auth</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                               @Html.ActionLink("Register Her", "Register", "Account", new { @class= "text-info"})
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>